.inputForm {
  width: 95%;
  margin: 0 auto;
  border-top: solid 1px lighten($bgColor, 20%);
  padding-top: 1.5rem;
}
.inputForm .input {
  width: 77%;
  background: $bgColor;
  color: antiquewhite;
  border: solid 1px darken($bgColor, 15%);
  border-width: 0 0 1px 0;
  height: 3.8rem;
  padding: 1rem;
  margin: 0 1.5rem 1rem 1.5rem;
}
