.widget {
  background: $bg-widget;
  margin-bottom: $x-lrg;
}

.widget-header {
  background: $tertiary;
  color: lighten($pg_txt-primary, 25%);
  padding: $med;
  display: flex;
  justify-content: space-between;
}
.widget-content {
  color: lighten($pg_txt-primary, 40%);
  font-weight: bolder;
  padding: $med;
  text-align: center;
}
.widget-content .option {
  border-bottom: solid 1px lighten($bgColor, 20%);
  padding-bottom: 2rem;
  margin-top: 2rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  word-break: break-all;
}
.widget-content .option:last-child {
  border-bottom: none;
}
