* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $sm;
  background: $bgColor;
}
.err {
  color: darkred;
  font-style: italic;
  margin: 1rem;
  text-shadow: white;
  font-weight: bolder;
}
