//colors
$bg-primary: #20222b;
$bgColor: #333745;
$tertiary: #3c4251;
$bg-widget: lighten($bg-primary, 20%);
$pg_txt-primary: #6d7bb4;
$bg-secondary: #8357c5;

//spacing
$sm: 1.2rem;
$med: 1.6rem;
$lrg: 3.2rem;
$x-lrg: 4.8rem;
$breakPt: 45rem;
